.hover-card-content {
  z-index: 50;
  width: 256px;
  outline: none;
  border: 1px solid currentColor;
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
  padding: calc(var(--spacing) * 4);
  color: var(--color-popover);
  background-color: var(--color-popover-foreground);
  transform-origin: var(--radix-hover-card-content-transform-origin);
  animation-timing-function: var(--ease-out);
  animation-duration: var(--default-transition-duration);

  &[data-side="top"] {
    animation-name: var(--animate-select-top);
  }

  &[data-side="bottom"] {
    animation-name: var(--animate-select-bottom);
  }

  &[data-side="left"] {
    animation-name: var(--animate-select-left);
  }

  &[data-side="right"] {
    animation-name: var(--animate-select-right);
  }

  &[data-state="closed"] {
    animation-name: var(--animate-tooltip-out);
  }
}
