.progress {
  position: relative;
  width: 100%;
  height: calc(var(--spacing) * 2);
  overflow: hidden;
  border-radius: var(--radius-rounded);
  background-color: color-mix(in oklch, var(--color-primary) 20%, transparent);

  .progress-indicator {
    flex: 1;
    width: 100%;
    height: 100%;
    transition: all var(--default-transition-duration)
      var(--default-transition-timing-function);
    background-color: var(--color-primary);
  }
}
