.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  max-width: max-content;

  &[data-viewport="false"] {
    overflow: hidden;
    inset-block-start: 100%;
    box-shadow: var(--shadow-lg);
    border: 1px solid currentColor;
    border-radius: var(--radius-md);
    color: var(--color-popover-foreground);
    background-color: var(--color-popover);
    margin-block-start: calc(var(--spacing) * 1.5);
    transition-duration: 200ms;
  }

  .navigation-menu-list {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    list-style: none;

    .navigation-menu-item {
      position: relative;
    }
  }

  .navigation-menu-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-sm--line-height);
    width: max-content;
    height: calc(var(--spacing) * 9);
    border-radius: var(--radius-md);
    background-color: var(--color-background);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    transition-property: color, box-shadow;
    transition-timing-function: var(--ease-out);
    transition-duration: var(--default-transition-duration);

    & > svg {
      position: relative;
      inset-block-start: 1px;
      width: calc(var(--spacing) * 3);
      height: calc(var(--spacing) * 3);
      margin-inline-start: var(--spacing);
      transition: transform 300ms;
    }

    &[data-state="open"] {
      background-color: color-mix(
        in oklab,
        var(--color-accent) 50%,
        transparent
      );

      & > svg {
        transform: rotate(180deg);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      color: var(--color-accent-foreground);
    }

    &:focus-visible {
      outline: 1px solid var(--color-ring);
      box-shadow: 0 0 0 3px color-mix(in oklab, var(--ring) 50%, transparent);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .navigation-menu-content {
    width: 100%;
    position: inherit;
    inset-block-start: 0;
    inset-inline-start: 0;
    padding: calc(var(--spacing) * 2);
    padding-inline-end: calc(var(--spacing) * 2.5);

    &[data-motion="from-start"] {
      animation-name: var(--animate-navigation-from-start);
    }

    &[data-motion="from-end"] {
      animation-name: var(--animate-navigation-from-end);
    }

    &[data-motion="to-start"] {
      animation-name: var(--animate-navigation-to-start);
    }

    &[data-motion="to-end"] {
      animation-name: var(--animate-navigation-to-end);
    }
  }
}

.navigation-menu-viewport-wrapper {
  z-index: 50;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .navigation-menu-viewport {
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow-lg);
    border-radius: var(--radius-md);
    width: 100%;
    height: var(--radix-navigation-menu-viewport-height);
    border: 1px solid var(--color-border);
    color: var(--color-popover-foreground);
    background-color: var(--color-popover);
    animation-timing-function: var(--ease-out);
    animation-duration: var(--default-transition-duration);

    &[data-state="open"] {
      animation-name: var(--animate-tooltip-in);
    }

    &[data-state="closed"] {
      animation-name: var(--animate-tooltip-out);
    }
  }
}

.navigation-menu-link {
  display: flex;
  gap: var(--spacing);
  flex-direction: column;
  outline: none;
  border-radius: var(--radius-sm);
  padding: calc(var(--spacing) * 2);
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);

  & > svg {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

  &[data-active="true"] {
    color: var(--color-accent-foreground);
    background-color: color-mix(in oklab, var(--color-accent) 50%, transparent);
  }

  &:hover,
  &:focus {
    color: var(--color-accent-foreground);
    background-color: var(--color-accent);
  }

  &:focus-visible {
    outline: 1px solid var(--color-ring);
    box-shadow: 0 0 0 3px
      color-mix(in oklab, var(--color-ring) 50%, transparent);
  }
}

.navigation-menu-indicator {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  inset-block-start: 100%;
  height: calc(var(--spacing) * 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-timing-function: var(--ease-out);
  animation-duration: var(--default-transition-duration);

  &[data-state="hidden"] {
    animation-name: var(--animate-tooltip-out);
  }

  & > div {
    position: relative;
    inset-block-start: 60%;
    transform: rotate(45deg);
    box-shadow: var(--shadow-md);
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);
    background-color: var(--color-border);
    border-top-left-radius: var(--radius-sm);
  }
}

@media (min-width: 768px) {
  .navigation-menu {
    .navigation-menu-container {
      width: auto;
      position: absolute;
    }
  }

  .navigation-menu-viewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}
