.radio-group {
  display: grid;
  gap: calc(var(--spacing) * 3);
}

.radio-group-item {
  outline: none;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  box-shadow: var(--shadow-xs);
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--input);
  border-radius: var(--radius-rounded);
  transition: color var(--default-transition-duration)
    var(--default-transition-timing-function);

  /* Indicator */
  [data-slot="radio-group-indicator"] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      fill: currentColor;
      width: calc(var(--spacing) * 2);
      height: calc(var(--spacing) * 2);
    }
  }

  /* Invalid */
  &[aria-invalid="true"] {
    color: var(--destructive);
    border-color: var(--destructive);
  }

  /* Focus */
  &:focus-visible {
    border-color: var(--ring);
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--ring) 50%, transparent);

    &[aria-invalid="true"] {
      border-color: var(--destructive);
      box-shadow: 0 0 0 2px
        color-mix(in oklab, var(--destructive) 20%, transparent);
    }
  }

  /* Disabled */
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
