#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-inline: 10%;
  overflow-y: scroll;

  /* Navigation */
  [data-layout="navigation"] {
    display: flex;
    position: sticky;
    z-index: 50;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--spacing) * 4);
    border: 1px solid var(--border);
    background-color: var(--color-background);
    border-block-start: none;
    inset-block-start: 0;

    .links {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing) * 0.5);

      .logo {
        & > svg {
          width: calc(var(--spacing) * 5);
          height: calc(var(--spacing) * 5);
          color: var(--color-purple-500);
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing) * 0.5);

      a,
      button:last-child {
        width: calc(var(--spacing) * 8);
      }

      [data-slot="separator"] {
        height: calc(var(--spacing) * 6);
        margin-inline: calc(var(--spacing) * 2);
      }

      .search {
        display: flex;
        align-items: center;
        height: calc(var(--spacing) * 8);
        padding-inline: calc(var(--spacing) * 2);
        border: none;
        border-radius: var(--radius-sm);
        background-color: var(--color-surface);
        color: color-mix(in oklab, var(--surface-foreground) 60%, transparent);
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
        gap: var(--spacing);

        .commands {
          display: flex;
          align-items: center;
          gap: var(--spacing);

          kbd {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(var(--spacing) * 5);
            height: calc(var(--spacing) * 5);
            border: 1px solid var(--color-border);
            border-radius: 0.25rem;
            background-color: var(--color-background);
            color: var(--color-muted-foreground);
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  /* Page */
  [data-page] {
    flex: 2;
  }

  /* Footer */
  [data-layout="footer"] {
    padding: calc(var(--spacing) * 8) calc(var(--spacing) * 4);
    color: var(--color-muted-foreground);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    text-align: center;

    a {
      text-decoration: underline;
      text-underline-offset: var(--spacing);
    }
  }
}

/* Code */
.code-box {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);

  .box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--spacing) * 3);
    background-color: var(--color-background);
    border-block-end: 1px solid var(--color-border);

    .path,
    .type {
      display: flex;
      align-items: center;
      gap: var(--spacing);
      color: var(--color-muted-foreground);
      font-family: monospace;
      font-size: 14px;

      & > svg {
        width: calc(var(--spacing) * 5);
        height: calc(var(--spacing) * 5);
      }

      .options {
        display: flex;

        .option {
          font-family: monospace;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing) * 2);

      .copy {
        width: calc(var(--spacing) * 8);
      }
    }
  }

  .code {
    span {
      font-family: monospace;
      font-size: 14px;
    }

    &.is-fixed {
      & > pre {
        height: 450px;
        overflow-y: scroll;
        border-radius: 0;
      }
    }
  }

  &:not(:has(.box-head)) {
    .copy {
      position: absolute;
      z-index: 49;
      inset-block-start: calc(var(--spacing) * 3);
      inset-inline-end: calc(var(--spacing) * 3);
      width: calc(var(--spacing) * 8);
    }
  }
}

/* Preview */
.preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  overflow-y: scroll;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  background-color: var(--color-background);
  background-image: linear-gradient(
    to right,
    var(--color-muted) 1px,
    transparent 1px
  );
  background-size: 100px 50px;

  .preview-area {
    display: flex;
    justify-content: center;
    width: 450px;
  }
}
